node_modules
**/node_modules
dist
**/dist
.turbo
coverage
**/.netlify
**/coverage
proof/runs/
*.tmp
*.cache
*.env.local
*.env.production
.env
*.log
.DS_Store
.git
.github
**/*.test.ts
**/*.spec.ts
infra/
docs/
tests/
*.md
.eslintrc*
.prettierrc*
